<configuration>

    <conversionRule conversionWord="callerDn" converterClass="skills.TomcatConfig$DnConverter"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>access.skills-service [%callerDn] %h %l %u [%t] "%r" %s %b "%i{Referer}" "%i{User-Agent} %q"</Pattern>
<!--            <Pattern>%fullRequest%n%n%fullResponse</Pattern>-->
        </encoder>
    </appender>

    <appender-ref ref="STDOUT" />

</configuration>