@function map-set($map, $key, $value) {
  $new: ($key: $value);
  @return map-merge($map, $new);
}

$sizes: () !default;
$sizes: map-set($sizes, 85, 85%);

$body-bg: #f7f7f7 !default;

$font-size-base: 0.875rem !default; //instead of 1rem

$card-cap-bg: white !default;

.skills-text-description {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f565d;
}

.skills-navigable-item {
  cursor: pointer;
}

.skills-navigable-item:hover {
  color: #17a2b8;
  box-shadow: 0 0 0px 1px;
}
