// Set your brand colors
$blue-palette-color1: #36899b;
$blue-palette-color2: #3a98c4;
$blue-palette-color3: #59a1ea;
$blue-palette-color4: #64bde0;
$blue-palette-color5: #4b71d1;

$green-palette-color1: #0ba08c;
$green-palette-color2: #0e933b;
$green-palette-color3: #0A9B77;
$green-palette-color4: #0b7c79;
$green-palette-color5: #008215;

$monochrome-palette-color1: #333333;
$monochrome-palette-color2: #141414;
$monochrome-palette-color3: #161616;
$monochrome-palette-color4: #262626;
$monochrome-palette-color5: #282828;

$red-palette-color1: #f44336;
$red-palette-color2: #e53953;
$red-palette-color3: #d32f2f;
$red-palette-color4: #c62828;
$red-palette-color5: #b71c1c;

$background-color1: #f5f6f1;
$background-color2: #FFFFFF;
