<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<param name="Threshold" value="trace"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %x %c - %t - %m%n"/>
		</layout>
	</appender>
<!--	<category name="skills.intTests.utils.WSHelper">-->
<!--		<priority value="WARN" />-->
<!--	</category>-->
<!--	<category name="org.apache.http.client.protocol.ResponseProcessCookies">-->
<!--		<priority value="FATAL" />-->
<!--	</category>-->


	<root>
		<priority value="trace"/>
		<appender-ref ref="CONSOLE"/>
    </root>
</log4j:configuration>
