$primaryColor: #097151 !default;

$infoButtonBg: #076e9a !default;
$warningButtonBg: #b5500e !default;
$successButtonBg: #00884a !default;
$dangerButtonBg: #c60000 !default;

$errorColor: #bd4141 !default;

$errorMessageBorder:solid #b53c3c !default;
$errorMessageTextColor:#b53c3c !default;
$errorMessageIconColor:#b53c3c !default;


$infoMessageBg: rgba(227, 240, 255, 0.7) !default;
$infoMessageBorder:solid #2f64bd !default;
$infoMessageTextColor: #2f64bd !default;
$infoMessageIconColor:#2f64bd !default;

$warningMessageBg: rgba(255, 249, 240, 0.7) !default;
$warningMessageBorder:solid #9a6917 !default;
$warningMessageTextColor:#9a6917 !default;
$warningMessageIconColor:#9a6917 !default;

