$primaryColor: #097151 !default;

$infoButtonBg: #076e9a !default;
$warningButtonBg: #b5500e !default;
$successButtonBg: #00884a !default;

$errorColor: #bd4141 !default;

$errorMessageBorder:solid #b53c3c !default;
$errorMessageTextColor:#b53c3c !default;
$errorMessageIconColor:#b53c3c !default;
